<mat-card>
  <form [formGroup]="form" (submit)="$event.preventDefault()">
    <mat-card-header>
      <mat-card-title>{{ 'MODULES.MODALS.ADD_CHECKER.TITLE' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>{{ 'MODULES.MODALS.ADD_CHECKER.SELECT_TYPE' | translate}}</mat-label>
        <mat-select formControlName="type" (selectionChange)="changeType($event)">
          <mat-option
            *ngFor="let type of schdedulerTypes"
            [value]="type"
          >{{ 'ENUMS.CHECKERS.TYPE.' + type | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('type').hasError('required')">{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Set interval" formControlName="interval">
        <mat-error
          *ngIf="form.get('interval').hasError('min')"
        >{{ 'ERRORS.minInterval' | translate }}</mat-error>
        <mat-error
          *ngIf="form.get('interval').hasError('required')"
        >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
        <mat-error
          *ngIf="form.get('interval').hasError('notInteger')"
        >{{ 'ERRORS.integer' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Set name" formControlName="name">
        <mat-hint>{{ 'MODULES.MODALS.ADD_CHECKER.NAME_HINT' | translate}}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Set timeout" formControlName="timeout">
        <mat-hint>{{ 'MODULES.MODALS.ADD_CHECKER.TIMEOUT_HINT' | translate}}</mat-hint>
        <mat-error
          *ngIf="form.get('timeout').hasError('min')"
        >{{ 'ERRORS.minInterval' | translate }}</mat-error>
        <mat-error
          *ngIf="form.get('timeout').hasError('notInteger')"
        >{{ 'ERRORS.integer' | translate }}</mat-error>
      </mat-form-field>
      <ng-container [ngSwitch]="form.get('type').value">
        <ng-container formGroupName="config">
          <ng-container *ngSwitchCase="TcpType" formGroupName="tcpConfig">
            <mat-form-field>
              <input matInput placeholder="Set host" formControlName="host">
              <mat-error
                *ngIf="tcpConfig.get('host').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="tcpConfig.get('host').hasError('pattern')"
              >{{ 'ERRORS.notValidHost' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Set port" formControlName="port">
              <mat-error
                *ngIf="tcpConfig.get('port').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="tcpConfig.get('port').hasError('min')"
              >{{ 'ERRORS.minInterval' | translate }}</mat-error>
              <mat-error
                *ngIf="tcpConfig.get('port').hasError('notInteger')"
              >{{ 'ERRORS.integer' | translate }}</mat-error>
              <mat-error
                *ngIf="tcpConfig.get('port').hasError('max')"
              >{{ 'ERRORS.maxPort' | translate }}</mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="GrpcType" formGroupName="grpcConfig">
            <mat-form-field>
              <input matInput placeholder="Set service name" formControlName="service">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Set host" formControlName="host">
              <mat-error
                *ngIf="grpcConfig.get('host').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="grpcConfig.get('host').hasError('pattern')"
              >{{ 'ERRORS.notValidHost' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Set port" formControlName="port">
              <mat-error
                *ngIf="grpcConfig.get('port').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="grpcConfig.get('port').hasError('min')"
              >{{ 'ERRORS.minPort' | translate }}</mat-error>
              <mat-error
                *ngIf="grpcConfig.get('port').hasError('notInteger')"
              >{{ 'ERRORS.integer' | translate }}</mat-error>
              <mat-error
                *ngIf="grpcConfig.get('port').hasError('max')"
              >{{ 'ERRORS.maxPort' | translate }}</mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="SiteMapType" formGroupName="siteMapConfig">
            <mat-form-field>
              <input matInput placeholder="Set url" formControlName="url">
              <mat-error
                *ngIf="siteMapConfig.get('url').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="siteMapConfig.get('url').hasError('pattern')"
              >{{ 'ERRORS.notValidUrl' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Set concurrency"
                formControlName="concurrency"
              >
              <mat-error
                *ngIf="siteMapConfig.get('concurrency').hasError('min')"
              >{{ 'ERRORS.minConcurrency' | translate }}</mat-error>
              <mat-error
                *ngIf="siteMapConfig.get('concurrency').hasError('notInteger')"
              >{{ 'ERRORS.integer' | translate }}</mat-error>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="HttpType" formGroupName="httpConfig">
            <mat-form-field>
              <mat-label>{{ 'MODULES.MODALS.ADD_CHECKER.SELECT_METHOD' | translate}}</mat-label>
              <mat-select formControlName="method">
                <mat-option *ngFor="let method of methods" [value]="method">
                  {{
                  method
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Set url" formControlName="url">
              <mat-error
                *ngIf="httpConfig.get('url').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="httpConfig.get('url').hasError('pattern')"
              >{{ 'ERRORS.notValidUrl' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="number"
                placeholder="Set status code"
                formControlName="status_code"
              >
              <mat-error
                *ngIf="httpConfig.get('status_code').hasError('min')"
              >{{ 'ERRORS.minStatusCode' | translate }}</mat-error>
              <mat-error
                *ngIf="httpConfig.get('status_code').hasError('max')"
              >{{ 'ERRORS.maxStatusCode' | translate }}</mat-error>
              <mat-error
                *ngIf="httpConfig.get('status_code').hasError('notInteger')"
              >{{ 'ERRORS.integer' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-chip-list #httpHeaderList formControlName="headers">
                <mat-chip
                  *ngFor="let header of httpConfig.get('headers').value | keyvalue; let i = index"
                  [selectable]="true"
                  [removable]="true"
                  (removed)="removeHeader(httpConfig.get('headers'), header.key)"
                >
                  {{ header.key }}: {{ header.value }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="New header..."
                  [matChipInputFor]="httpHeaderList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addHeader(httpConfig.get('headers'), $event)"
                >
              </mat-chip-list>
              <mat-hint>{{ 'MODULES.MODALS.ADD_CHECKER.HEADER_HINT' | translate}}</mat-hint>
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="HttpJsonValueType" formGroupName="httpValueConfig">
            <mat-form-field>
              <mat-select formControlName="method">
                <mat-option *ngFor="let method of methods" [value]="method">
                  {{
                  method
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input type="url" matInput placeholder="Set url" formControlName="url">
              <mat-error
                *ngIf="httpValueConfig.get('url').hasError('required')"
              >{{ 'ERRORS.REQUIRED' | translate }}</mat-error>
              <mat-error
                *ngIf="httpValueConfig.get('url').hasError('pattern')"
              >{{ 'ERRORS.notValidUrl' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-chip-list #httpHeaderList formControlName="headers">
                <mat-chip
                  *ngFor="
                    let header of httpValueConfig.get('headers').value | keyvalue;
                    let i = index
                  "
                  [selectable]="true"
                  [removable]="true"
                  (removed)="removeHeader(httpValueConfig.get('headers'), header.key)"
                >
                  {{ header.key }}: {{ header.value }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input
                  placeholder="{{ 'MODULES.MODALS.ADD_CHECKER.NEW_HEADER' | translate}}"
                  [matChipInputFor]="httpHeaderList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addHeader(httpValueConfig.get('headers'), $event)"
                >
              </mat-chip-list>
              <mat-hint>{{ 'MODULES.MODALS.ADD_CHECKER.HEADER_HINT' | translate}}</mat-hint>
            </mat-form-field>
            <div class="selector-form">
              <mat-form-field>
                <mat-select #selectorType>
                  <mat-option *ngFor="let selector of selectors" [value]="selector">
                    {{
                    'ENUMS.CHECKERS.PARSE_TYPE.' + selector | translate
                    }}
                  </mat-option>
                </mat-select>
                <mat-label>{{ 'MODULES.MODALS.ADD_CHECKER.SELECT_PARSE_TYPE' | translate}}</mat-label>
              </mat-form-field>
              <mat-form-field>
                <mat-label>{{ 'MODULES.MODALS.ADD_CHECKER.VALID_PATH' | translate}}</mat-label>
                <input matInput #selectorInput>
                <mat-hint>
                  {{ 'MODULES.MODALS.ADD_CHECKER.VALID_PATH' | translate}}
                  <a
                    target="_blank"
                    href="https://github.com/tidwall/gjson#path-syntax"
                  >here</a>
                </mat-hint>
              </mat-form-field>
              <button
                mat-mini-fab
                [disabled]="!selectorType.value || !selectorInput.value"
                (click)="addSelector(httpValueConfig.get('selectors'), selectorType, selectorInput)"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <mat-form-field>
              <mat-chip-list formControlName="selectors">
                <mat-chip
                  *ngFor="let selector of httpValueConfig.get('selectors').value; let i = index"
                  [selectable]="true"
                  [removable]="true"
                  (removed)="removeSelector(httpValueConfig.get('selectors'), i)"
                >
                  {{ 'ENUMS.CHECKERS.PARSE_TYPE.' + selector.type | translate }}: {{ selector.path }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-button
        (click)="onSubmit()"
      >{{ 'MODULES.MODALS.ADD_CHECKER.ADD_BUTTON' | translate}}</button>
    </mat-card-actions>
  </form>
</mat-card>
