<mat-card>
  <ng-container *ngIf="currentIncident$ | async as incident; else loading">
    <mat-card-header>
      <mat-card-title>{{ 'MODULES.INCIDENTS.PAGE.TITLE' | translate }} # {{ incident.id }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="info">
        <p>
          <strong>{{ 'MODULES.INCIDENTS.PAGE.STATUS' | translate }}</strong>
          : {{ 'ENUMS.INCIDENTS.STATUS.' + (incident.status || 0) | translate}}
        </p>
        <ng-container *ngIf="currentRule$ | async as rule">
          <p>
            <strong>{{ 'MODULES.INCIDENTS.PAGE.RULE_ID' | translate }}</strong>
            : {{ rule.id
            }}
            <button
              (click)="goToRulePage(rule.owner_type, rule.owner_id)"
              mat-icon-button
              matTooltipPosition="right"
              matTooltip="View config"
            >
              <mat-icon>link</mat-icon>
            </button>
          </p>
          <p>
            <strong>{{ 'MODULES.INCIDENTS.PAGE.RULE_NAME' | translate }}</strong>
            : {{ rule.name }}
          </p>
          <p>
            <strong>{{ 'MODULES.INCIDENTS.PAGE.RULE' | translate }}</strong>:
          </p>
          <pre>{{ rule.rule }}</pre>
          <p>
            <strong>{{ 'MODULES.INCIDENTS.PAGE.RULE_STATUS' | translate }}</strong>
            : {{ 'ENUMS.RULES.STATUS.' + rule.status | translate }}
          </p>
        </ng-container>
      </div>
      <div class="history">
        <p *ngFor="let item of incident.histories">
          <strong>{{ 'MODULES.INCIDENTS.PAGE.TIME_HISTORY_ITEM' | translate }}</strong>
          : {{ toDate(item.timestamp) | date: 'd/M/yyyy HH:mm:ss' }},
          <strong>{{ 'MODULES.INCIDENTS.PAGE.STATUS' | translate }}</strong>
          : {{ ('ENUMS.INCIDENTS.STATUS.' + (item.status || 0)) | translate}}
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-button
        *ngIf="incident.status === OPENED"
        (click)="study(incident.id)"
      >{{ 'MODULES.INCIDENTS.PAGE.BTN_STUDY' | translate }}</button>
      <button
        mat-button
        *ngIf="incident.status !== CLOSED"
        (click)="close(incident.id)"
      >{{ 'MODULES.INCIDENTS.PAGE.BTN_CLOSE' | translate }}</button>
    </mat-card-actions>
  </ng-container>
  <ng-template #loading>
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
