@import 'src/theme/colors.scss';

mat-card-content {
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  padding-bottom: 0;
}

pre {
  width: 100%;
  overflow-x: scroll;
}

mat-card {
  min-width: 300px;
  box-shadow: none !important;
  padding-bottom: 0;
  .selector-form {
    margin-top: 10px;
    display: flex;
  }
  .example-item {
    &:hover {
      background-color: mat-color($primary, 50);
      cursor: pointer;
    }
    .example-value {
      font-weight: bold;
    }
    .example-description {
      white-space: normal;
      color: mat-color($accent, 800);
    }
  }
}
