<div class="header">
  <button mat-stroked-button (click)="addRule()">{{ 'MODULES.RULES.TABLE.ADD' | translate }}</button>
</div>

<mat-list [disabled]="loading$ | async">
  <mat-list-item *ngFor="let rule of rulesList$ | async; trackBy: trackByFn">
    <div mat-line>
      <mat-slide-toggle
        [checked]="rule.status === ACTIVE_STATUS"
        [disabled]="rule.status === REMOVED || rule.status === UNCPECIFIED"
        (change)="toggleRule($event, rule.id)"
      >
        {{ 'MODULES.RULES.TABLE.STATUS' | translate }}:
        {{ 'ENUMS.RULES.STATUS.' + rule.status | translate }}
      </mat-slide-toggle>
      <span>{{ rule.name }}</span>
      <mat-checkbox [checked]="rule.auto_close" [disabled]="true"></mat-checkbox>
      <button
        *ngIf="rule.status !== REMOVED"
        mat-icon-button
        aria-label="Remove"
        matTooltip="{{ 'MODULES.RULES.TABLE.REMOVE' | translate }}"
        matTooltipPosition="above"
        (click)="remove(rule.id)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <pre mat-line>{{ rule.rule }}</pre>
  </mat-list-item>
</mat-list>
