<ng-container [queryParamGroup]="queryFilterGroup">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Id">
      <th
        mat-header-cell
        *matHeaderCellDef
      >{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.ID' | translate}}</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="StartTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <mat-label>{{ 'LABELS.FROM' | translate }}:</mat-label>
          <input
            matInput
            [owlDateTimeTrigger]="dateFromComponent"
            [owlDateTime]="dateFromComponent"
            queryParamName="dateFrom"
            autocomplete="off"
          >
          <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateFromComponent></owl-date-time>
        </mat-form-field>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{ toDate(element.start_time) | date: 'd/M/yyyy HH:mm:ss' }}</td>
    </ng-container>

    <ng-container matColumnDef="EndTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field>
          <mat-label>{{ 'LABELS.TO' | translate }}:</mat-label>
          <input
            matInput
            [owlDateTimeTrigger]="dateToComponent"
            [owlDateTime]="dateToComponent"
            queryParamName="dateTo"
            autocomplete="off"
          >
          <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateToComponent></owl-date-time>
        </mat-form-field>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{ toDate(element.end_time) | date: 'd/M/yyyy HH:mm:ss' }}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.NAME' | translate}}</mat-label>
          <input matInput queryParamName="name" type="text">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.TYPE' | translate}}</mat-label>
          <mat-select (selectionChange)="onTypeChange($event)" [value]="type.value">
            <mat-option
              *ngFor="let type of types"
              [value]="type"
            >{{ 'ENUMS.TRANSACTIONS.TYPE.' + type | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{ 'ENUMS.TRANSACTIONS.TYPE.' + element.type | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.STATUS' | translate}}</mat-label>
          <mat-select (selectionChange)="onStatusChange($event)" [value]="type.value">
            <mat-option
              *ngFor="let trStatus of statuses"
              [value]="trStatus"
            >{{ 'ENUMS.TRANSACTIONS.STATUS.' + trStatus | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{ 'ENUMS.TRANSACTIONS.STATUS.' + element.status | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="Duration">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
      >{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.DURATION' | translate}}</th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{ getDuration(element.end_time, element.start_time) }} {{ 'LABELS.SECOND' | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="Host">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.HOST' | translate}}</mat-label>
          <input matInput queryParamName="host" type="text">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.meta?.host }}</td>
    </ng-container>

    <ng-container matColumnDef="Path">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.PATH' | translate}}</mat-label>
          <input matInput queryParamName="path" type="text">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.meta?.path }}</td>
    </ng-container>

    <ng-container matColumnDef="Method">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>{{ 'MODULES.APPLICATIONS.TRANSACTION_LIST.METHOD' | translate}}</mat-label>
          <input matInput queryParamName="method" type="text">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.meta?.method }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="clickRow(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
</ng-container>
