<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button [routerLink]="'/'">Squzy Dashboard</button>
    <span class="spacer"></span>
    <span *ngIf="version$ | async as version">Version: {{ version }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="true">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/agents'" routerLinkActive="active">Agents</a>
      <a mat-list-item [routerLink]="'/checkers'" routerLinkActive="active">Checkers</a>
      <a mat-list-item [routerLink]="'/applications'" routerLinkActive="active">Applications</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="height: 92vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
