<mat-card>
  <mat-card-header>
    <button
      mat-stroked-button
      (click)="addMethod()"
    >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.ADD' | translate }}</button>
    <button
      [disabled]="!selection.selected.length"
      mat-stroked-button
      (click)="activateSelected()"
    >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.ACTIVATE' | translate }}</button>
    <button
      [disabled]="!selection.selected.length"
      mat-stroked-button
      (click)="deactivateSelected()"
    >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.DEACTIVATE' | translate }}</button>
    <button
      [disabled]="!selection.selected.length"
      mat-stroked-button
      (click)="removeSelected()"
    >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.REMOVE' | translate }}</button>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>{{ 'MODULES.NOTIFICATION_METHODS.TABLE.FILTER' | translate }}</mat-label>
      <input matInput #filterInput>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)"
          ></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="ID">
        <th
          mat-header-cell
          *matHeaderCellDef
        >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.ID' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.NAME' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.name ? element.name : '-' }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.TYPE' | translate }}</th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ 'ENUMS.NOTIFICATION_METHODS.TYPE.' + element.type | translate }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >{{ 'MODULES.NOTIFICATION_METHODS.TABLE.STATUS' | translate }}</th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ 'ENUMS.NOTIFICATION_METHODS.STATUS.' + element.status | translate }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="clickRow(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
