<ng-container [queryParamGroup]="queryFilterGroup">
  <mat-form-field>
    <mat-label>Group by</mat-label>
    <mat-select (selectionChange)="onGroupByChange($event)" [value]="groupBy.value">
      <mat-option *ngFor="let group of groupByGroups" [value]="group">
        {{
        toSortBy(group)
        }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select (selectionChange)="onTypeChange($event)" [value]="type.value">
      <mat-option *ngFor="let type of types" [value]="type">{{ toType(type) }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select (selectionChange)="onStatusChange($event)" [value]="status.value">
      <mat-option *ngFor="let status of statuses" [value]="status">
        {{
        toStatus(status)
        }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>From:</mat-label>
    <input
      matInput
      [owlDateTimeTrigger]="dateFromComponent"
      [owlDateTime]="dateFromComponent"
      queryParamName="from"
      autocomplete="off"
    >
    <button
      mat-button
      *ngIf="queryFilterGroup.get('from').value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="queryFilterGroup.get('from').setValue(null)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateFromComponent></owl-date-time>
  </mat-form-field>
  <mat-form-field>
    <mat-label>To:</mat-label>
    <input
      matInput
      [owlDateTimeTrigger]="dateToComponent"
      [owlDateTime]="dateToComponent"
      queryParamName="to"
      autocomplete="off"
    >
    <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateToComponent></owl-date-time>
    <button
      mat-button
      *ngIf="queryFilterGroup.get('to').value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="queryFilterGroup.get('to').setValue(null)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-container>
<mat-drawer-container [class.mat-elevation-z2]="true">
  <mat-drawer [position]="'end'" [mode]="'over'">
    <ng-container *ngIf="currentStats">
      <p>
        Count: {{ currentStats.count }}
        <button mat-icon-button (click)="goToList()">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </p>
      <p>Average time: {{ round(currentStats.average_time) || 0 }} sec</p>
      <p>Min time: {{ round(currentStats.min_time) || 0 }} sec</p>
      <p>Max time: {{ round(currentStats.max_time) || 0 }} sec</p>
      <p>Success ration: {{ percent(currentStats.success_ratio) || 0 }}</p>
      <p>Throughput: {{ round(currentStats.throughput) || 0 }} count/min</p>
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <mat-list role="list">
      <div mat-subheader>Select transaction group</div>
      <mat-list-item
        *ngFor="let item of groupList$ | async | keyvalue; trackBy: trackBy"
        (click)="select(item.value, item.key)"
      >{{ item.key }}</mat-list-item>
    </mat-list>
  </mat-drawer-content>
</mat-drawer-container>
