upstream backend {
    server $API_HOST;
}

server {

    listen 80;

    server_name localhost;

    root /usr/share/nginx/html;

    index index.html index.htm;

    gzip on;
    gzip_min_length 1000;
    gzip_proxied expired no-cache no-store private auth;
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    location /app/version {
      default_type application/json;
      return 200 '{"data": {"version":"{{ version }}"}}';
    }

    location /api {
        rewrite  ^/api/(.*)  /$1 break;
        proxy_pass http://backend;
        proxy_buffering off;
        proxy_redirect off;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host      $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

}
