server {

    listen 80;

    server_name localhost;

    root /usr/share/nginx/html;

    index index.html index.htm;

    gzip on;
    gzip_min_length 1000;
    gzip_proxied expired no-cache no-store private auth;
    gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

    location /app/version {
      default_type application/json;
      return 200 '{"data": {"version":"{{ version }}"}}';
    }

    location /api {
        resolver 127.0.0.11;
        proxy_pass http://$API_HOST;
        proxy_buffering off;
        proxy_set_header Accept-Encoding "";
        proxy_set_header Host      $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location / {
        try_files $uri$args $uri$args/ /index.html;
    }

}
