<ng-container *ngIf="currentId$ | async as id">
  <nav mat-tab-nav-bar class="type-menu">
    <a
      mat-tab-link
      *ngFor="let type of types$ | async"
      [routerLink]="['/agents', id, type]"
      [routerLinkActive]="['/agents', id, type]"
      #typeLink="routerLinkActive"
      [active]="typeLink.isActive"
    >
      <mat-icon>{{ iconByType[type] }}</mat-icon>
    </a>
  </nav>
</ng-container>

<div class="layout">
  <nav mat-tab-nav-bar class="agent-menu">
    <a
      mat-tab-link
      *ngFor="let agent of agents$ | async"
      [routerLink]="['/agents', agent ]"
      routerLinkActive
      #agentLink="routerLinkActive"
      [active]="agentLink.isActive"
    >{{ agent }}</a>
  </nav>

  <div class="content" *ngIf="currentId$ | async as id">
    <div class="checkers-layput" [ngSwitch]="currentType$ | async">
      <sqd-cpu-stats [agentId]="id" *ngSwitchCase="CPU_TYPE"></sqd-cpu-stats>
      <sqd-memory-stat [agentId]="id" *ngSwitchCase="MEMORY_TYPE"></sqd-memory-stat>
      <sqd-disks-stat [agentId]="id" *ngSwitchCase="DISK_TYPE"></sqd-disks-stat>
      <sqd-net-stat [agentId]="id" *ngSwitchCase="NET_TYPE"></sqd-net-stat>
    </div>
  </div>
</div>
