@import 'src/theme/theme.scss';

$padding: 40px;
$min-width: 160px;

:host {
  padding: $padding;

  .layout {
    display: flex;
    margin-top: $padding;
  }

  ::ng-deep {
    .mat-tab-header {
      border-bottom: none;
    }
    .mat-tab-header-pagination {
      display: none !important;
    }

    mat-ink-bar {
      display: none;
    }
  }

  .type-menu {
    position: absolute;
    margin-left: $min-width;
    ::ng-deep a.mat-tab-link {
      width: $padding;
      height: $padding;
      min-width: $padding;
    }
  }

  .agent-menu,
  .type-menu {
    a {
      opacity: 1;

      &.mat-tab-label-active {
        color: white;
        background-color: mat-color($primary);

        mat-icon {
          color: white;
          width: $padding * 3/4;
          height: $padding * 3/4;
          font-size: $padding * 3/4;
        }
      }
    }
  }

  .agent-menu {
    mat-checkbox {
      margin-left: $padding / 4;
    }
    ::ng-deep a.mat-tab-link {
      width: $padding * 2;
      height: $padding;
      min-width: $min-width;
      border: 1px solid rgba(0, 0, 0, 0.12);
      margin: 1px 0 1px 0;
      font-size: 10px;
    }

    max-width: $min-width;
    ::ng-deep .mat-tab-links {
      display: flex;
      position: relative;
      flex-direction: column;
    }
  }

  .content {
    margin: 15px 15px 0 15px;
    flex: 1 1;
    .checkers-layout {
      flex: 1 1;
    }
  }
}
