<div class="flex">
  <mat-card class="flex flex-column width-50" *ngIf="checkInfo$ | async as info">
    <mat-card-header>
      <mat-card-title>Configuration</mat-card-title>
      <button
        *ngIf="info.status === statuses.Stopped"
        mat-icon-button
        aria-label="Run"
        matTooltip="Run"
        matTooltipPosition="above"
        (click)="run(info.id)"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button
        *ngIf="info.status === statuses.Runned"
        mat-icon-button
        aria-label="Pause"
        matTooltip="Pause"
        matTooltipPosition="above"
        (click)="stop(info.id)"
      >
        <mat-icon>pause</mat-icon>
      </button>
      <button
        *ngIf="info.status !== statuses.Removed"
        mat-icon-button
        aria-label="Remove"
        matTooltip="Remove"
        matTooltipPosition="above"
        (click)="remove(info.id)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="flex">
      <div class="column width-100">
        <p>ID: {{ info.id }}</p>
      </div>
      <div class="column width-100" *ngIf="info.name">
        <p>Name: {{ info.name }}</p>
      </div>
      <div class="column width-50">
        <p>
          Type:
          <strong>{{ toType(info.type) }}</strong>
          <button
            (click)="showConfig(info)"
            mat-icon-button
            matTooltipPosition="right"
            matTooltip="View config"
          >
            <mat-icon>info</mat-icon>
          </button>
        </p>
        <p>
          Status:
          <strong>{{ toSchedulerStatus(info.status) }}</strong>
        </p>
      </div>
      <div class="column width-50 before-lint">
        <p>Interval: {{ info.interval }} sec</p>
        <p *ngIf="info.timeout">Timeout: {{ info.timeout }} sec</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="flex flex-column width-50">
    <ng-container *ngIf="uptime$ | async as info; else loading">
      <mat-card-header>
        <mat-card-title>Statistic</mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex">
        <div class="column width-100">
          <p>{{ info.dateFrom | date: 'medium' }} - {{ info.dateTo | date: 'medium' }}</p>
        </div>
        <div class="column width-50">
          <p>Uptime: {{ info.uptime }}</p>
        </div>
        <div class="column width-50 before-lint">
          <p>Latency: {{ info.latency }} sec</p>
        </div>
      </mat-card-content>
    </ng-container>
    <ng-template #loading>
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</div>

<mat-card>
  <mat-card-content class="flex">
    <form [formGroup]="filterForm">
      <mat-form-field>
        <label for="dateFrom">From:</label>
        <input
          matInput
          [owlDateTimeTrigger]="dateFromComponent"
          [owlDateTime]="dateFromComponent"
          formControlName="dateFrom"
          autocomplete="off"
          [errorStateMatcher]="errorMatcher"
        >
        <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateFromComponent></owl-date-time>
        <mat-error *ngIf="filterForm.hasError('dateToLessThenFrom')">Date to less then date from</mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="dateTo">To:</label>
        <input
          matInput
          [owlDateTimeTrigger]="dateToComponent"
          [owlDateTime]="dateToComponent"
          formControlName="dateTo"
          autocomplete="off"
          [errorStateMatcher]="errorMatcher"
        >
        <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateToComponent></owl-date-time>
        <mat-error *ngIf="filterForm.hasError('dateToLessThenFrom')">Date to less then date from</mat-error>
      </mat-form-field>
      <button mat-stroked-button [disabled]="!filterForm.valid" (click)="onSubmit()">Apply</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="flex flex-column">
  <mat-card-header *ngIf="formValue$ | async as currentTime">
    <mat-card-title>{{ currentTime.dateFrom | date: 'medium' }} - {{ currentTime.dateTo | date: 'medium' }}</mat-card-title>
    <button
      matTooltip="Auto-refresh"
      matTooltipPosition="above"
      mat-icon-button
      aria-label="Pause"
      (click)="toggleAutoRefresh()"
    >
      <mat-icon>{{ (autoRefresh$ | async) ? 'stop' : 'replay' }}</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="flex column">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ toResponseStatus(element.code) }}</td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let element">{{ toDate(element.meta.start_time) | date: 'medium'}}</td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
        <td mat-cell *matCellDef="let element">{{ toDate(element.meta.end_time) | date: 'medium'}}</td>
      </ng-container>

      <ng-container matColumnDef="latency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Latency</th>
        <td mat-cell *matCellDef="let element">
          <ng-container
            *ngIf="element.code != responseStatuses.Error; else errTempl"
          >{{ getLatency(element.meta.end_time,element.meta.start_time ) }} sec</ng-container>
          <ng-template #errTempl>Check return error</ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickRow(row)"></tr>
    </table>
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
