<div class="flex">
  <mat-card class="flex flex-column width-50" *ngIf="checkInfo$ | async as info">
    <mat-card-header>
      <mat-card-title>{{ 'MODULES.CHECKERS.PAGE.CONFIGURATION' | translate }}</mat-card-title>
      <button
        *ngIf="info.status === statuses.STOPPED"
        mat-icon-button
        aria-label="Run"
        matTooltip="Run"
        matTooltipPosition="above"
        (click)="run(info.id)"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button
        *ngIf="info.status === statuses.REMOVED"
        mat-icon-button
        aria-label="Pause"
        matTooltip="Pause"
        matTooltipPosition="above"
        (click)="stop(info.id)"
      >
        <mat-icon>pause</mat-icon>
      </button>
      <button
        *ngIf="info.status !== statuses.REMOVED"
        mat-icon-button
        aria-label="Remove"
        matTooltip="Remove"
        matTooltipPosition="above"
        (click)="remove(info.id)"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="flex">
      <div class="column width-100">
        <p>
          <strong>{{ 'MODULES.CHECKERS.PAGE.ID' | translate }}</strong>
          : {{ info.id }}
        </p>
      </div>
      <div class="column width-100" *ngIf="info.name">
        <p>
          <strong>{{ 'MODULES.CHECKERS.PAGE.NAME' | translate }}</strong>
          : {{ info.name }}
        </p>
      </div>
      <div class="column width-50">
        <p>
          <strong>{{ 'MODULES.CHECKERS.PAGE.TYPE' | translate }}</strong>
          :
          {{ 'ENUMS.CHECKERS.TYPE.' + info.type | translate }}
          <button
            (click)="showConfig(info)"
            mat-icon-button
            matTooltipPosition="right"
            matTooltip="View config"
          >
            <mat-icon>info</mat-icon>
          </button>
        </p>
        <p>
          <strong>{{ 'MODULES.CHECKERS.PAGE.STATUS' | translate }}</strong>
          :
          {{ 'ENUMS.CHECKERS.STATUS.' + info.status | translate }}
        </p>
      </div>
      <div class="column width-50 before-lint">
        <p>
          <strong>{{ 'MODULES.CHECKERS.PAGE.INTERVAL' | translate }}</strong>
          : {{ info.interval }}
          {{ 'LABELS.SECOND' | translate }}
        </p>
        <p *ngIf="info.timeout">
          <strong>{{ 'MODULES.CHECKERS.PAGE.TIMEOUT' | translate }}</strong>
          : {{ info.timeout }}
          {{ 'LABELS.SECOND' | translate }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="flex flex-column width-50">
    <ng-container *ngIf="uptime$ | async as info; else loading">
      <mat-card-header>
        <mat-card-title>{{ 'MODULES.CHECKERS.PAGE.STATISTICS' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex">
        <div class="column width-100">
          <p>
            {{ info.dateFrom | date: 'd/M/yyyy HH:mm:ss' }} -
            {{ info.dateTo | date: 'd/M/yyyy HH:mm:ss' }}
          </p>
        </div>
        <div class="column width-50">
          <p>{{ 'MODULES.CHECKERS.PAGE.UPTIME' | translate }}: {{ info.uptime }}</p>
        </div>
        <div class="column width-50 before-lint">
          <p>
            {{ 'MODULES.CHECKERS.PAGE.LATENCY' | translate }}: {{ info.latency }}
            {{ 'LABELS.SECOND' | translate }}
          </p>
        </div>
      </mat-card-content>
    </ng-container>
    <ng-template #loading>
      <div class="spinner-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card>
</div>

<mat-card>
  <mat-card-content class="flex">
    <form [formGroup]="filterForm">
      <mat-form-field>
        <label for="dateFrom">{{ 'LABELS.FROM' | translate }}:</label>
        <input
          matInput
          [owlDateTimeTrigger]="dateFromComponent"
          [owlDateTime]="dateFromComponent"
          formControlName="dateFrom"
          autocomplete="off"
          [errorStateMatcher]="errorMatcher"
        >
        <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateFromComponent></owl-date-time>
        <mat-error *ngIf="filterForm.hasError('dateToLessThenFrom')">
          {{
          'ERRORS.dateToLessThenFrom' | translate
          }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="dateTo">{{ 'LABELS.TO' | translate }}:</label>
        <input
          matInput
          [owlDateTimeTrigger]="dateToComponent"
          [owlDateTime]="dateToComponent"
          formControlName="dateTo"
          autocomplete="off"
          [errorStateMatcher]="errorMatcher"
        >
        <owl-date-time [pickerMode]="'dialog'" [showSecondsTimer]="true" #dateToComponent></owl-date-time>
        <mat-error *ngIf="filterForm.hasError('dateToLessThenFrom')">
          {{
          'ERRORS.dateToLessThenFrom' | translate
          }}
        </mat-error>
      </mat-form-field>
      <button
        mat-stroked-button
        [disabled]="!filterForm.valid"
        (click)="onSubmit()"
      >{{ 'LABELS.APPLY' | translate }}</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="flex flex-column">
  <mat-card-header *ngIf="formValue$ | async as currentTime">
    <mat-card-title>
      {{ currentTime.dateFrom | date: 'd/M/yyyy HH:mm:ss' }} -
      {{ currentTime.dateTo | date: 'd/M/yyyy HH:mm:ss' }}
    </mat-card-title>
    <button
      matTooltip="Auto-refresh"
      matTooltipPosition="above"
      mat-icon-button
      aria-label="Pause"
      (click)="toggleAutoRefresh()"
    >
      <mat-icon>{{ (autoRefresh$ | async) ? 'stop' : 'replay' }}</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content class="flex column">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <mat-label>{{ 'MODULES.CHECKERS.PAGE.SELECT_STATUS_CODE' | translate }}</mat-label>
            <mat-select [formControl]="statusControl">
              <mat-option *ngFor="let status of statusCode" [value]="status">
                {{
                'ENUMS.CHECKERS.STATUS_CODE.' + status | translate
                }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ 'ENUMS.CHECKERS.STATUS_CODE.' + element.code | translate }}</td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >{{ 'MODULES.CHECKERS.PAGE.START_TIME' | translate }}</th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ toDate(element.meta.start_time) | date: 'd/M/yyyy HH:mm:ss' }}</td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >{{ 'MODULES.CHECKERS.PAGE.END_TIME' | translate }}</th>
        <td
          mat-cell
          *matCellDef="let element"
        >{{ toDate(element.meta.end_time) | date: 'd/M/yyyy HH:mm:ss' }}</td>
      </ng-container>

      <ng-container matColumnDef="latency">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >{{ 'MODULES.CHECKERS.PAGE.LATENCY' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.code != responseStatuses.ERROR; else errTempl">
            {{ getLatency(element.meta.end_time, element.meta.start_time) }}
            {{ 'LABELS.SECOND' | translate }}
          </ng-container>
          <ng-template #errTempl>{{ 'MODULES.CHECKERS.PAGE.CHECKER_ERROR_MSG' | translate}}</ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="clickRow(row)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
