<div class="flex">
  <mat-card class="flex flex-column width-50">
    <mat-card-header>
      <mat-card-title>Configuration</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex" *ngIf="checkInfo$ | async as info">
      <div class="column width-50">
        <p>ID: {{ info.id }}</p>
        <p>Type: {{ toType(info.type) | uppercase }}</p>
      </div>
      <div class="column width-50">
        <p>Interval: {{ info.interval }} sec</p>
        <p>Timeout: {{ info.timeout }} sec</p>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="flex flex-column width-50">
    <mat-card-header>
      <mat-card-title>Statistic</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex">
      <div class="column width-50">
        <p>Uptime: {{ uptime$ | async }}</p>
      </div>
      <div class="column width-50">
        <p>Latency: {{ latency$ | async }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<mat-card>
  <mat-card-content class="flex">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <label for="dateFrom">From:</label>
        <input
          matInput
          [owlDateTimeTrigger]="dateFromComponent"
          [owlDateTime]="dateFromComponent"
          formControlName="dateFrom"
          autocomplete="off"
          [errorStateMatcher]="errorMatcher"
        >
        <owl-date-time #dateFromComponent></owl-date-time>
        <mat-error *ngIf="filterForm.hasError('dateToLessThenFrom')">Date to less then date from</mat-error>
      </mat-form-field>
      <mat-form-field>
        <label for="dateTo">To:</label>
        <input
          matInput
          [owlDateTimeTrigger]="dateToComponent"
          [owlDateTime]="dateToComponent"
          formControlName="dateTo"
          autocomplete="off"
          [errorStateMatcher]="errorMatcher"
        >
        <owl-date-time #dateToComponent></owl-date-time>
        <mat-error *ngIf="filterForm.hasError('dateToLessThenFrom')">Date to less then date from</mat-error>
      </mat-form-field>
      <button type="submit" mat-stroked-button [disabled]="!filterForm.valid">Apply</button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content class="flex column">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ toStatus(element.status) }}</td>
      </ng-container>
      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
        <td mat-cell *matCellDef="let element">{{element.startTime | date: 'medium'}}</td>
      </ng-container>
      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time</th>
        <td mat-cell *matCellDef="let element">{{element.endTime | date: 'medium'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
