<mat-card>
  <ng-container *ngIf="currentApplication$ | async as app; else loading">
    <mat-card-header>
      <mat-card-title>{{ 'MODULES.APPLICATIONS.PAGE.APPLICATION' | translate }}: {{ app.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ 'MODULES.APPLICATIONS.PAGE.ID' | translate }}: {{ app.id }}</p>
      <p
        *ngIf="app.host_name"
      >{{ 'MODULES.APPLICATIONS.PAGE.HOST' | translate }}: {{ app.host_name }}</p>
      <p>{{ 'MODULES.APPLICATIONS.PAGE.STATUS' | translate }}: {{ 'ENUMS.APPLICATIONS.STATUS.' + app.status | translate }}</p>
    </mat-card-content>
  </ng-container>
  <ng-template #loading>
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ 'MODULES.APPLICATIONS.PAGE.TRANSACTIONS' | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <nav mat-tab-nav-bar [backgroundColor]="'accent'">
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >{{ link.label }}</a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
