<ng-container *ngIf="getPosition() as information">
  <div class="content">
    <div class="info" [style.paddingLeft]="information.padding">
      <p>
        <span>{{ 'MODULES.TRANSACTION.SEGMENTS.ID' | translate }}: {{ transaction.id }}</span>
        <button *ngIf="level != 1" mat-icon-button (click)="goToPage(transaction.id)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </p>
      <p>{{ 'MODULES.TRANSACTION.SEGMENTS.NAME' | translate }}: {{ transaction.name }}</p>
      <p *ngIf="appId !== transaction.application_id ">
        <span>{{ 'MODULES.TRANSACTION.PAGE.APPLICATION' | translate }}: {{ transaction.application_id }}</span>
        <button mat-icon-button (click)="goToAppPage(transaction.application_id)">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </p>
    </div>
    <div class="progress">
      <ng-container>
        <div
          class="caret"
          [style.left]="information.left"
          [style.width]="information.width"
          [class.fail]="transaction.status == failStatus"
        >
          <div class="left">{{ information.leftTime | date: 'HH:mm:ss.SSS' }}</div>
          <div class="right">{{ information.rightTime | date: 'HH:mm:ss.SSS' }}</div>
        </div>
      </ng-container>
    </div>
  </div>

  <mat-divider></mat-divider>

  <ng-container *ngIf="dictChildren[transaction.id]">
    <sqd-transaction-segment
      *ngFor="let transaction of dictChildren[transaction.id]; trackBy: trackByFn"
      [transaction]="transaction"
      [min]="min"
      [max]="max"
      [appId]="appId"
      [dictChildren]="dictChildren"
      [level]="level + 1"
    ></sqd-transaction-segment>
  </ng-container>
</ng-container>
