mat-card-content {
  display: flex;
  flex-direction: column;
}
mat-card-actions {
  padding-bottom: 0;
}

mat-card {
  min-width: 300px;
  box-shadow: none !important;
  padding-bottom: 0;
  .selector-form {
    margin-top: 10px;
    display: flex;
  }
}
