/* You can add global styles to this file, and also import other style files */
@import './theme/theme.scss';
@import '~@busacca/ng-pick-datetime/assets/style/picker.min.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Hack for table with timepicker (add class 'no-focused' on th)
th {
  &.no-focused {
    &.cdk-program-focused {
      button {
        border-bottom: none !important;
      }
    }
  }
}

mat-card,
mat-card-content {
  > table {
    width: 100%;
    overflow-x: scroll;
  }
}
