$padding: 40px;

:host {
  padding: $padding;
  display: flex;
  justify-content: center;
  flex-direction: column;
  mat-card {
    mat-card-header::ng-deep {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .mat-card-header-text {
        display: none;
      }
    }
  }
  mat-form-field {
    width: 100%;
  }
  table {
    width: 100%;
    .mat-header-cell {
      text-align: center;
      justify-content: center;
    }

    .mat-cell {
      text-align: center;
      justify-content: center;
    }
    .mat-row {
      &:hover {
        cursor: pointer;
        background: #b4b4b433;
      }
    }
  }
}
